{
    "port": "57581",
    "non_secure_port": "57582",
    "proxies": ["./proxies/www.js"],
    "server_key": "3t6rq7o8yufihljkns.dfa32r78yufadfxcv3da",
    "sources": ["local-www.lettuceapps.com"],
    "destinations": {
        "hub": {
            "host" : "local-hub.lettuceapps.com",
            "api" : "local-hub.lettuceapps.com",
            "port" : "443"
        },
        "www": {
            "host" : "local-www.lettuceapps.com",
            "port" : "443"
        }
    }
}